#[body]#
<div class="weather">

    <!--Текущая погода-->
    <div class="header flex-column">
        <h3 class="row justify-content-center">Санкт-Петербург</h3>
        <div class="row justify-content-center">{weather_icon_img}</div>
        <div class="h2 row justify-content-center">{curr_temp}</div>
    </div>

    <div class="main row justify-content-center">
        <div class="left_block col-6 flex-column">
            <div><i class="wi wi-thermometer-exterior"></i> {curr_description}</div>
            <div><i class="fal fa-head-side"></i> ощущается {curr_feels_like}</div>
            <div><i class="wi wi-barometer"></i> давление {curr_pressure} гПа</div>
        </div>
        <div class="right_block col-6 flex-column">
            <div><i class="fas fa-binoculars"></i> видимость {curr_visibility} м.</div>
            <div><i class="wi wi-humidity"></i> влажность {curr_humidity}%</div>
            <div><i class="wi wi-cloudy"></i> облачность {curr_clouds}%</div>
        </div>
    </div>

    <div class="wind_block mt-4">
        <h3>Ветер</h3>
        <div class="left_block">
            <div><i class="wi wi-strong-wind"></i> скорость - {curr_wind_speed} км/ч</div>
            <div><i class="wi wi-wind towards-{curr_wind_deg}-deg"></i> направление - {curr_wind_arrow}</div>
        </div>
    </div>

    <div class="sun_block mt-4">
        <h3>Солнце</h3>
        <div class="left_block">
            <div><i class="wi wi-sunrise"></i> рассвет - {curr_sunrise}</div>
            <div><i class="wi wi-sunset"></i> закат - {curr_sunset}</div>
        </div>
    </div>

    <div class="comfort_block mt-4">
        <h3>Комфорт</h3>
        <div class="left_block">
            <div><i class=""></i> УФ индекс - {curr_uvi} {desc_uvi}</div>
            <div><i class=""></i> точка росы - {curr_dew_point}</div>
        </div>
    </div>


    <!-- Почасовой прогноз на ближайшие 48 часов -->
    <h4 class="hourly_block_title mt-5">Почасовой прогноз на день</h4>



    <!--Погода по дням-->
    <h4 class="days_block_title mt-5">Погода на неделю</h4>
    <div class="days_block mt-3">
        {days_rows}
    </div>







    <div class="small mt-5">Последнее обновление {curr_update_date}</div>

</div>
#[!body]#

#[day_row]#

<div class="col {selected}">
    <div>{day_of_weak}</div>
    <div>{date}</div>
    <div>{icon}</div>
    <div>{temp}</div>
</div>

#[!day_row]#