#[full]#
<html>
<head>
    <meta charset="utf-8">
    <title>Smart Mirror</title>

    <!-- Style -->
    <style type="text/css">
        body {
            background-color: #000000 !important;
            color: white !important;
        }
    </style>

    <!-- Required meta tags -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {head}
</head>
<body>

<div class="content container-fluid">
    {content}
</div>



{script}
</body>
</html>
#[!full]#