/* ------------------------------------------ */
/* ----- От маленьких экранов к большим ----- */
/* ------------------------------------------ */

/* Стили для очень маленьких экранов (телефоны в книжной ориентации,
дисплей менее 576 пикселей). Записываются без медиа-запросов,
поскольку в Bootstrap это значение по умолчанию */

/* Стили для маленьких экранов (телефоны в альбомной ориентации,
дисплей 576 пикселей и более) */
@media (min-width: 576px) {  }

/* Стили для средних экранов (планшеты, дисплей 768 пикселей и более) */
@media (min-width: 768px) {  }

/* Стили для больших экранов (ПК, дисплей 992 пикселей и более) */
@media (min-width: 992px) {  }

/* Стили для очень больших экранов (ПК с большим монитором,
дисплей 1200 пикселей и более) */
@media (min-width: 1200px) {  }

/* ------------------------------------------ */
/*------ От больших экранов к маленьким ------*/
/* ------------------------------------------ */

/* Стили для очень больших экранов (дисплей 1200 пикселей и более).
Записываются без медиа-запросов, так как контрольная точка
для очень больших экранов не имеет верхней границы по ширине */

/* Стили для больших экранов (дисплей максимум 1199 пикселей) */
@media (max-width: 1199px) {  }

/* Стили для средних экранов (дисплей максимум 991 пикселей) */
@media (max-width: 991px) {
    #weather{
        font-size: 3.5em;
    }

    #weather i{
        width: 70px;
    }

    .header h1{
        font-size: 1.4em;
        font-weight: bold;
    }

    .header h2{
        font-size: 1.6em;
    }

    .header .curr_temp{
        font-size: 1.8em;
    }

    .right_block{
        margin-top: 1.5em;
    }

    #weather .main .left_block,
    #weather .main .right_block {
        justify-content: start;
    }
}

/* Стили для маленьких экранов (дисплей максимум 767 пикселей) */
@media (max-width: 767px) {  }

/* Стили для очень маленьких экранов (дисплей максимум 575 пикселей) */
@media (max-width: 575px) {  }


/*
Кроме этого, в Bootstrap задействуются еще несколько вариаций контрольных точек для записи стилей
под конкретный диапазон ширины экранов. При этом используются сразу оба условия — для минимума
и для максимума:
*/

/* Стили для очень маленьких экранов (дисплей максимум 575 пикселей) */
@media (max-width: 575px) {  }

/* Стили для маленьких экранов (дисплей шириной от 576 пикселей до 767 пикселей) */
@media (min-width: 576px) and (max-width: 767px) {  }


/* Стили для средних экранов (дисплей шириной от 768 пикселей до 991 пикселей) */
@media (min-width: 768px) and (max-width: 991px) {  }


/* Стили для больших экранов (дисплей шириной от 992 пикселей до 1199 пикселей) */
@media (min-width: 992px) and (max-width: 1199px) {  }


/* Стили для очень больших экранов (дисплей минимум 1200 пикселей) */
@media (min-width: 1200px) {  }