.content{
    background-color: #000000;
    color: white;
    width: 1000px;
    height: 1600px;
    /*padding: 15px;*/
    margin: 0 auto;
}

/*.line{*/
    /*border-bottom: 1px solid grey;*/
/*}*/



/*---------- WEATHER BLOCK ----------*/
.weather{
    width: 500px;
    height: 1500px;
    border: 1px dotted white;
    padding: 15px;
    font-family: 'Lato', sans-serif;
    /*font-family: 'Work Sans', sans-serif;*/
    /*font-family: 'Roboto', sans-serif;*/
}

.weather i{
    display: inline-block;
    width: 20px;
    text-align: center;
}

.weather_icon{
    display: inline-block;
    height: 16px;
    text-align: center;
}

/*.weather .left_block div{*/
    /*padding-left: 15px;*/
/*}*/

/*.weather .header .temp{*/
    /*size: 18px;*/
/*}*/

/*.main .title{*/
    /*margin-top: 27px;*/
/*}*/
/*.main{*/
    /*text-align: center;*/
/*}*/

/*.main .left_block,*/
/*.main .right_block{*/
    /*display:inline-block;*/
    /*width: 190px;*/
/*}*/

/*.main .left_block{*/
    /*text-align: left;*/
    /*line-height: 33px;*/
/*}*/

/*.main .right_block{*/
    /*text-align: right;*/
    /*line-height: 25px;*/
/*}*/

/*.wind h3{*/
    /*text-align: center;*/
/*}*/

/*.wind .left_block{*/
    /*line-height: 25px;;*/
/*}*/

.days_block{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.days_block .col{
    padding: 0;
    border-left: 1px solid rgba(255,255,255,0.5);
}

.days_block .col:nth-child(1){
    border-left:none;
}

.days_block .col div,
.days_block_title{
    text-align: center;
}






/*---------- END WEATHER BLOCK ----------*/
