.ta-c{
    text-align: center;
}

.ta-l{
    text-align: left;
}

.ta-r{
    text-align: right;
}

.f-l{
    float: left;
}

.f-r{
    float: right;
}

.container{
    background-color: #000000;
    color: white;
    width: 1280px;
    height: 1024px;
    padding: 15px;
}

.line{
    border-bottom: 1px solid grey;
}


/*---------- WEATHER BLOCK ----------*/
.weather{
    width: 416px;
    height: 800px;
    border: 1px dotted white;
    padding: 5px;
}

/*.main .title{*/
    /*margin-top: 27px;*/
/*}*/
.main{
    text-align: center;
}

.main .left_block,
.main .right_block{
    display:inline-block;
    width: 200px;
}

.main .left_block{
    text-align: left;
    line-height: 33px;
}

.main .right_block{
    text-align: right;
    line-height: 25px;
}

.wind h3{
    text-align: center;
}

.wind .left_block{
    line-height: 25px;;
}






/*---------- END WEATHER BLOCK ----------*/
