#[body]#
<div class="weather">

    <div class="main">
        {temp}
    </div>




<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<br> {weather_id} - weather_id
<br> {main} - группа погодных условий
<br> {desc} - описание
<br> {icon} - icon_id
<br> {temp} - температура
<br> {feels_like} - ощущается как температура
<br> {pressure} - давление в гПа
<br> {humidity} - Влажность в %
<br> {visibility} - Видимость в метрах
<br> {wind_speed} - Скорость ветра в м/с
<br> {wind_deg} - Направление ветра, градусы (метеорологические)
<br> {rain_1h} - Объем дождя за последний час, мм
<br> {clouds_all} - Облачность в %
<br> {dt} - Время расчета данных, unix, UTC
<br> {sys_sunrise} - Время восхода, unix, UTC
<br> {sys_sunset} - Время заката, unix, UTC
<br> {timezone} - Временная зона (Сдвиг в секундах от UTC)
<br> {city_id} - id города
<br> {name} - название города




{weather_icon_img}


</div>
#[!body]#